/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 16px 16px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 16px 16px);
}

.art-Sheet-bl
{
	clip: rect(16px 16px auto auto);
}

.art-Sheet-br
{
	clip: rect(16px auto auto 16px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 16px auto);
}

.art-Sheet-bc
{
	clip: rect(16px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 16px);
}

.art-Sheet-cl
{
	clip: rect(auto 16px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{	clip: rect(auto auto auto 976px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 402px);
}
/* end MenuItem */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 7px 7px);
}

.art-Block-bl
{
	clip: rect(7px 7px auto auto);
}

.art-Block-br
{
	clip: rect(7px auto auto 7px);
}

.art-Block-tc
{
	clip: rect(auto auto 7px auto);
}

.art-Block-bc
{
	clip: rect(7px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 7px);
}

.art-Block-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader .r
{
	clip: rect(auto auto auto 970px);
}
/* end BlockHeader */

/* begin Box, Post */
.art-Post-tl
{
	clip: rect(auto 7px 7px auto);
}

.art-Post-tr
{
	clip: rect(auto auto 7px 7px);
}

.art-Post-bl
{
	clip: rect(7px 7px auto auto);
}

.art-Post-br
{
	clip: rect(7px auto auto 7px);
}

.art-Post-tc
{
	clip: rect(auto auto 7px auto);
}

.art-Post-bc
{
	clip: rect(7px auto auto auto);
}

.art-Post-cr
{
	clip: rect(auto auto auto 7px);
}

.art-Post-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 399px);
}
/* end Button */

